- className = function(str) { return str.replace(/\W+/g, '-') }

doctype html
html
    head
        title= title + " | " + site.title
        link(rel='stylesheet', href='style/main.css')
    body
        .container
            header.pure-menu.pure-menu-horizontal
                ul.pure-menu-list
                    li.pure-menu-item
                        a.logo.pure-menu-link.pure-menu-heading(href=".")
                            img(src="style/logo.png" width="160px" height="141px" alt="The Magic Lab")
                    li.pure-menu-item
                        a.pure-menu-link(href="news-items.html") News
                    li.pure-menu-item
                        a.pure-menu-link(href="people.html") People
                    li.pure-menu-item
                        a.pure-menu-link(href="projects.html") Research
                    li.pure-menu-item
                        a.pure-menu-link(href="invited-speaker-presentations.html") Speakers
                    li.pure-menu-item
                        a.pure-menu-link(href="engagement.html") Join Us

                h1 Innovation and Enterprise Research Laboratory

            div(class='data-page '+className('data-page-'+title))
                h2= title
                - sections = _.groupBy(rows, 'type')
                each sectionRows, type in sections
                    section(class='data-section '+className('data-section-'+type))
                        if (type && type != 'undefined')
                            h3= type
                        each row in sectionRows
                            div.data-item
                                each col in Object.keys(row)
                                    if (col[0] != '_' && col != 'id' && row[col])
                                        span(class='data-field '+className('data-field-'+col))
                                            if (col == 'type')
                                                - null
                                            else if (col == 'link')
                                                a(href=row[col])= row[col]
                                            else if (col == 'photo' && row[col] != '')
                                                img(src='assets/'+row[col])
                                            else
                                                != marked(row[col])

            != contents
