@import "purecss/build/pure.css";
@import "highlight.js/styles/github.css";

/* Lato Font */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular-Latin-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Main Site Style */

* {
    box-sizing: border-box;
}

body {
    background: #666;
    font-family: "Lato", sans-serif;
    line-height: 1.3em;
}

.pure-g [class *= "pure-u"] {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*text-align: center;*/
    display: block;
    max-width: 800px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

h3 {
    clear: both;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
    background:
        white
        url(./robot-background.jpg)
        no-repeat;
    background-size: auto 800px;
    background-position: center;
}

main {
    background: white;
    background-image: none;
    margin-top: 650px;
    position: relative;
    padding-bottom: 2.5em;
}

main h1 {
    color: white;
    position: relative;
    top: -1.5em;
    height: 0;
    text-shadow: 0px 1px 1px black;
}

main h2 {
    margin-top: 2.5em;
}

#start {
    position: absolute;
    top: -90px;
}

.splat {
    position: absolute;
    opacity: 0.5;
    pointer-events: none;
}

main .splat {
    background: url(./splat1.svg) no-repeat;
    height: 553px;
    width: 526px;
    margin-top: -270px;
    margin-left: -180px;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    margin: 0;
    background: #666;
    color: white;
    border-bottom: 4px solid #333;
    font-size: larger;
}

header .pure-menu-link {
    padding: 8px 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
header .pure-menu-link:hover,
header .pure-menu-link:focus,
header .pure-menu-link:active {
    background-color: transparent;
    color: #0C347D;
}
header .logo {
    overflow: visible;
    height: 2em;
    margin-left: -1.6em;
    margin-right: -3em;
}
header .logo.pure-menu-link:hover,
header .logo.pure-menu-link:focus,
header .logo.pure-menu-link:active {
    background-color: transparent;
}
header .logo > img {
    margin-top: -20px;
}

.section-link {
    position: absolute;
    margin-top: -7em;
}

/* highlight the current page in navbar */

.data-page-Admin-Panel .pure-menu-link[href="/admin/"],
.data-page-About-the-Magic-Lab .pure-menu-link[href="."],
.data-page-About-the-Magic-Lab .pure-menu-link[href="/"],
.data-page-News-Items .pure-menu-link[href^="news-items.html"],
.data-page-People .pure-menu-link[href^="people.html"],
.data-page-Research-Projects .pure-menu-link[href^="research-projects.html"],
.data-page-Leadership .pure-menu-link[href^="leadership.html"],
.data-page-Join-Us .pure-menu-link[href^="Join-Us.html"] {
    color: orange;
}

footer {
    display: block;
    clear: both;
    color: white;
    background: #666;
    border-top: 4px solid #999;
    padding-bottom: 3em;
}

footer .splat {
    background: url(./splat2.svg) no-repeat;
    width: 334px;
    height: 331px;
    margin-top: -95px;
    margin-left: 160px;
}

footer .pure-g {
    position: relative; /* appear in front of splat */
}

/* styles for dynamic content */

.data-item {
    display: block;
    margin: 0.5em 0 1em 0;
}

.data-field {
    display: block;
}

/* gss exports a spurious 'title' field for most pages. only display it when explicitly wanted. */
.data-field-title {
    display: none;
}

/* markdown normally produces at least one <p>. keep things inline when there is only one. */
.data-field>p:first-child:last-child {
    display: inline;
}

/* sometimes we use a "no" column to keep things organized */
.data-field-no {
    display: none;
}

.data-field-photo > a > img {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid navy;
}

/* news page */

.data-page-News-Items .background {
    background-image: url(/assets/FuchsiaTashiMoke.jpg);
}

.data-page-News-Items .data-field-title {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}
.data-page-News-Items .data-field-date {
    float: right;
    margin-top: -1.25em;
}

/* people page */

.data-page-People .background {
    background-image: url(/assets/attila-and-mahya.jpg);
}
.data-page-People article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 275em;
    margin-right: -2em;
}
.data-page-People .data-section {
    /*float: left;*/
    width: 50%;
    padding-right: 2em;
}
.data-page-People .data-item {
    clear: both;
    margin-top: 1em;
}
.data-page-People .data-field-photo {
    float: right;
    /*border-radius: 1em;*/
    margin: 0 0.5em 0.5em 0;
    line-height: 0;
}
.data-page-People .data-field-name {
    font-weight: bold;
    display: inline;
}
.data-page-People .data-field-date {
    display: inline;
}
.data-page-People .data-field-date:before {
    content:"(";
}
.data-page-People .data-field-date:after {
    content:")";
    position: relative;
    left: -0.25em;
}
.data-page-People .data-field-researchtopic {
    font-style: italic;
}

/* research projects page */
.data-page-Research-Projects .background {
    background-image: url(/assets/Moke_GPSApp_NoColour.jpg);
}
.data-page-Research-Projects .data-item {
    margin-top: 1em;
}
.data-page-Research-Projects .data-field-grant {
    font-weight: bold;
    display: inline;
}
.data-page-Research-Projects .data-field-funding {
    display: inline;
}
.data-page-Research-Projects .data-field-funding:before {
    content: "(";
    display: inline;
}
.data-page-Research-Projects .data-field-funding:after {
    content: ")";
    display: inline;
    margin-left: -0.25em;
}
.data-page-Research-Projects .data-field-date {
    float: right;
}
.data-page-Research-Projects .data-field-projecttitle:before {
    content: "“";
}
.data-page-Research-Projects .data-field-projecttitle:after {
    content: "”";
    position: relative;
    left: -0.25em;
}
.data-page-Research-Projects .data-field-chiefinvestigators {
    font-style: italic;
}
.data-page-Research-Projects .data-field-partners:before {
    content: "Partners: ";
}
.data-page-Research-Projects .data-field-summary {
    margin-top: 0.35em;
}

/* leadership page */
.data-page-Leadership .background {
    background-image: url(/assets/background-leadership.jpg);
}
.data-page-Leadership .data-field-date {
    float: right;
}
.data-page-Leadership .data-item {
    margin-bottom: 0;
}

/* speaker presentations page */
.data-page-Invited-Speaker-Presentations .background {
    background-image: url(/assets/magic-lab-speech.jpg);
}
.data-page-Invited-Speaker-Presentations .data-field-date {
    float: right;
}

/* resources page */
.data-page-Resources .background {
    background-image: url(/assets/Moke_Robot_NoColour.jpg);
}

/* hardware page */
.data-page-Hardware .background {
    background-image: url(/assets/Moke_Helicopter_NoColour.jpg);
}

/* join us page */
.data-page-Join-Us .background {
    background-image: url(/assets/Moke_Submarine_V2.jpg);
}

/* admin page */

body.data-page-Admin-Panel {
    background: white;
}
.data-page-Admin-Panel form {
    margin: 1em;
    float: left;
}
.data-page-Admin-Panel body > p {
    margin: 1em;
    clear: both;
}
.data-page-Admin-Panel label.nohup {
    display: none;
}
.data-page-Admin-Panel .background {
    background: white;
}
.data-page-Admin-Panel main {
    margin: 120px auto;
    max-width: 800px;

}
