@import "purecss/build/pure.css";
@import "highlight.js/styles/github.css";

/* these pages export a spurious 'title' field */
.data-page-Projects .data-field-title,
.data-page-People .data-field-title,
.data-page-About .data-field-title {
    display: none;
}

/* fields named 'type' are used for grouping rows into sections */
.data-field-type {
    display: none;
}

/* markdown normally produces at least one <p>. keep things inline when there is only one. */
.data-field>p:first-child:last-child {
    display: inline;
}

.data-field-title, .data-field-sectionheader {
    font-size: larger;
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
}

.data-field-no {
    display: none;
}

.data-field-photo > img {
    max-width: 100px;
    max-height: 100px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.container img {
    max-width: 100%;
}

header .logo {
    overflow: visible;
    height: 2em;
}

header {
    background-image: url(../robot-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header > h1 {
    padding-top: 16.5em;
    margin-top: 0;
    text-align: center;
    color: white;
}
header > .pure-menu-list {
    position: fixed;
}

.data-page-People .data-item {
    clear: both;
}
.data-page-People .data-field-photo {
    float: right;
}
.data-page-People .data-field-name {
    font-weight: bold;
}


